In [ ]:
## 5.1 클래스
# 다음 Airforce 클래스를 이용하여 질문에 답하라. 
class Airforce:
    def __init__(self, name, p):
        self.name = name
        self.power = p

In [ ]:
# (1점) 5.1.1   다음과 같은 (name, power)를 갖는 
# Airforce 인스턴스 a1을 만들고, a1의 name, power를 출력하시오
# (name, power) =  ("F14",50)  

# ---- 답안 시작 --------

In [ ]:
# (1점) 5.1.2 Airforce를 상속하여 다음 조건을 만족하는 Jet 클래스를 완성/구현하시오. 
#  - Jet 클래스 인스턴스들의 수를 저장하는 클래스 변수 cnt를 만들라
#  - 생성자와 소멸자를 cnt에 인스턴스의 수가 유지되도록 작성하라. 
#  - ("F14",50), ("SU33", 60), ("Mirage2000", 45) 값을 갖는 Jet 인스턴스를 만들고, 
#  - 두번째 인스턴스를 제거한후, Jet.cnt를 출력한다. 

# ---- 답안 시작 --------

# --- 답안 end ----------

# 다음 코드는 수정하지 마시오.         
j1 = Jet("F14",50)
j2 = Jet("SU33", 60)
j3 = Jet("Mirage2000", 45)
del j2
print("# of Jets=", j3.cnt)

In [ ]:
# (1점) 5.1.3 Airforce를 상속하여 다음 조건을 만족하는 Helicopter 클래스를 완성/구현하시오. 
# Airforce instance 변수를 print 함수로 출력하면, 그내용을 볼 수 없다. 
# print 함수의 파라미터에 Helicopter instance를 주면,  (name, power)  형태가 나오도록 
# __str__ 함수를  멤버함수로 만드시오. 

# ---- 답안 시작 --------

# --- 답안 end ----------

    
# 다음을 수정하지 마시오.     
h =  Helicopter("F16",150)   
print(h)

## 5.5 내장함수 과제

In [4]:
# (1점) 5.5.1  zip 및 dict 함수를 사용하여 ott 및 revenue(수익)에서 오는 
# 키(ott회사), 값(회사수익) 쌍이 있는 사전(dict)을 만들고,  
# ottrank에 저장하고 출력하시오 

ott =["Netflix", "Hulu", "Sling", "Hbo"]
revenue =[198, 166, 237, 125]

# ---- 답안 시작 --------

# ottrank =  

# --- 답안 end ----------

{'Netflix': 198, 'Hulu': 166, 'Sling': 237, 'Hbo': 125}

In [6]:
# (1점) 5.5.2  위의 5.5.1에서 만든  ottrank에서 ott회사를 
# 이름순 정렬하여(혹은 정렬된 리스트로) 출력하시오. 


# ---- 답안 시작 --------


# --- 답안 end ----------

['Hbo', 'Hulu', 'Netflix', 'Sling']

In [12]:
# (1점) 5.5.3  위의 5.5.1에서 만든  ottrank에서 
# 회사수익(revenue)이 많은 순으로 회사이름을 출력하시오. 
# 단, sorted 함수를 이용하라. 
# ---- 답안 시작 --------

# --- 답안 end ----------

['Sling', 'Netflix', 'Hulu', 'Hbo']

In [14]:
# (1점) 5.5.4  위의 5.5.1에서 만든  ottrank에서 
# 회사수익(revenue) 많은 순으로 
# 회사이름(key)과 수익(valeu)로 구성된 사전을 출력하시오.

# ---- 답안 시작 --------

# --- 답안 end ----------

{'Sling': 237, 'Netflix': 198, 'Hulu': 166, 'Hbo': 125}

In [20]:
# (1점) 5.5.5 위의 5.5.1에서 만든  ottrank에서 
# 회사수익이 175 이상인 회사와 수익을 출력하시오. 
# filter 함수를 이용하되, 출력결과 형태는 자유

# ---- 답안 시작 --------

# --- 답안 end ----------

[('Netflix', 198), ('Sling', 237)]

In [5]:
# (2점) 5.5.6 위의 5.5.1에서 만든  ottrank에서 
# 회사수익(revenue)이 200이하인 회사는 
# 회사수익을 10 (십)자리에서 반올림하여 회사이름과 수익을 출력하시오. 
# 단, 가급적 map 함수를 이용하여 한줄로 구현하라
# (map을 사용하지 않는 경우, 1점 감점). 
# 출력결과 형태는 자유

# ---- 답안 시작 --------

# --- 답안 end ----------

[('Netflix', 200), ('Hulu', 170), ('Sling', 237), ('Hbo', 120)]