In [2]:
import pandas as pd

x = pd.Series([7, 3, 5, 8], index=['서울', '대구', '부산', '광주'])
print(x)
print(x[['서울', '대구']])

서울    7
대구    3
부산    5
광주    8
dtype: int64
서울    7
대구    3
dtype: int64

In [13]:
print(x.index)
print(x.values)

Index(['서울', '대구', '부산', '광주'], dtype='object')
[7 3 5 8]

In [17]:
x[sorted(x.index)]  # 인덱스로 정렬

광주    8
대구    3
부산    5
서울    7
dtype: int64

In [26]:
x[sorted(x.index, key=lambda a: x[a])]  # 값으로 정렬

대구    3
부산    5
서울    7
광주    8
dtype: int64

In [29]:
print(x.reindex(sorted(x.index)))
print(x)

광주    8
대구    3
부산    5
서울    7
dtype: int64
서울    7
대구    3
부산    5
광주    8
dtype: int64

In [36]:
medal = [1, 3, 2, 4, 2, 3]
x = pd.Series(medal)
pd.unique(x)

array([1, 3, 2, 4], dtype=int64)

In [5]:
age = {'민준':23, '현우': 43, '서연':12, '동현': 45}    # 딕셔너리로 Series 생성 가능
x = pd.Series(age)
print(x)

print(x['동현'])    # 인덱스로 접근 가능
print(x[3]) # 인덱스에 해당하는 하나의 수로도 접근 가능
print(x['현우':'동현'])
# 하나의 수로 접근 시 값만 출력
print(x[0:2])   # 슬라이싱은 인덱스에 해당하는 수로 수행
# 슬라이싱으로 접근 시 인덱스, 값 모두 출력

x = pd.Series([1, 2, 3, 4], index=[2, 3, 4 ,5])
print(x)
print(x[2]) # 인덱스가 숫자인 경우에는 인덱스로만 접근 가능
print(x[0:2])   # 슬라이싱은 여전히 인덱스에 해당하는 수로 수행
print(x[1:2])


# 요약: 인덱스가 문자면 인덱스, 인덱스번호로 인덱싱, 슬라이싱 모두 가능 / 인덱스가 숫자면 인덱스로 인덱싱, 인덱스 번호로 슬라이싱

민준    23
현우    43
서연    12
동현    45
dtype: int64
45
45
현우    43
서연    12
동현    45
dtype: int64
민준    23
현우    43
dtype: int64
2    1
3    2
4    3
5    4
dtype: int64
1
2    1
3    2
dtype: int64
3    2
dtype: int64

In [80]:
from IPython.display import display

data = {'age':[23, 43, 12, 45],
    'name':['민준', '현우', '서연', '동현'],
    'height':[175.3, 180.3, 165.8, 172.7]}
x = pd.DataFrame(data)

display(x)
display(x.name)

print(x.iloc[0, [0, 1]])
print(x.iloc[0, 0:2])   # 슬라이싱, 튜플로 표현 동일
print(x.iloc[:, -1])
print(x.iloc[1:4, 1])

   age name  height
0   23   민준   175.3
1   43   현우   180.3
2   12   서연   165.8
3   45   동현   172.7

0    민준
1    현우
2    서연
3    동현
Name: name, dtype: object

age     23
name    민준
Name: 0, dtype: object
age     23
name    민준
Name: 0, dtype: object
0    175.3
1    180.3
2    165.8
3    172.7
Name: height, dtype: float64
1    현우
2    서연
3    동현
Name: name, dtype: object