In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import display

In [47]:
x = pd.Series([7, 3, 6, 8], ['서울', '대구', '부산', '광주'])
print(x)
print(list(x))
print(x.values)
print(x.index)

print(x.index + "a")
print(x.sort_index())
print(x.reindex(sorted(x.index)))

서울    7
대구    3
부산    6
광주    8
dtype: int64
[7, 3, 6, 8]
[7 3 6 8]
Index(['서울', '대구', '부산', '광주'], dtype='object')
Index(['서울a', '대구a', '부산a', '광주a'], dtype='object')
광주    8
대구    3
부산    6
서울    7
dtype: int64
광주    8
대구    3
부산    6
서울    7
dtype: int64

In [23]:
x = pd.Series([5, 6, 7, 5, 8])
print(x.unique())

[5 6 7 8]

In [27]:
age = {'민준':23, '현우':43, '서연':12, '동현':45}
p = pd.Series(age)
print(p)

print(p[1])
print(p[2:4])

민준    23
현우    43
서연    12
동현    45
dtype: int64
43
서연    12
동현    45
dtype: int64

In [34]:
pd.DataFrame(np.arange(0, 16).reshape(4, 4), ['as', 'sdf', 'sdf', 'as'], columns=[1, 2, 3, 4])

      1   2   3   4
as    0   1   2   3
sdf   4   5   6   7
sdf   8   9  10  11
as   12  13  14  15

In [4]:
a = [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
p = pd.DataFrame(a, columns=["First", "Second"])
print(p.Second[[True, True, False, False, True]])
display(p[[True, True, False, False, True]])
display(p.astype(float))

0     2
1     4
4    10
Name: Second, dtype: int64

   First  Second
0      1       2
1      3       4
4      9      10

   First  Second
0    1.0     2.0
1    3.0     4.0
2    5.0     6.0
3    7.0     8.0
4    9.0    10.0

In [49]:
print(np.array(['a', 'b', 'c', 'd']))

['a' 'b' 'c' 'd']